:root {
  --primary-header-color: #212121;
  --secondary-header-color: #ffffff;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --alt-bkg-color: #f5f4fa;
  --hero-footer-color: #2f303a;
  --accent-color: #2196f3;
  --logo-black: #000000;
  --logo-white: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

/* Глобальные */
.link {
  text-decoration: none;
  font-style: inherit;
}
.list {
  list-style: none;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: cal(31/26);
}
.address {
  font-style: inherit;
}
/* Шапка */

.header-logo {
  color: var(--logo-black);
}

.header-logo-accent {
  color: var(--accent-color);
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: cal (16/14);
  letter-spacing: 0.02em;
  color: var(--primary-header-color);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: cal (16/14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

/* Герой */
.hero-section {
  background-color: var(--hero-footer-color);
}

.hero-hdr {
  font-weight: 900;
  font-size: 44px;
  line-height: cal(60/44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: cal(30/16);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-header-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* Особенности */
.skills-item-header {
  font-weight: 700;
  font-size: 14px;
  line-height: cal(16/14);
  text-transform: uppercase;
  color: var(--primary-header-color);
}

.skills-item-text {
  font-size: 14px;
  line-height: cal(24/14);
  color: var(--primary-text-color);
}

/* Чем мы занимаемся */

.mission-header,
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: cal(42/36);
  text-align: center;
  color: var(--primary-header-color);
}

.team-section {
  background-color: var(--alt-bkg-color);
}
.team-item-header {
  font-weight: 500;
  font-size: 16px;
  line-height: cal(19/16);
  text-align: center;
  color: var(--primary-header-color);
}

.team-item-text {
  font-size: 16px;
  line-height: cal(19/16);
  text-align: center;
  color: var(--primary-text-color);
}

.footer {
  background-color: var(--hero-footer-color);
}

.footer-logo {
  color: var(--logo-white);
}

.footer-logo .footer-logo-accent {
  color: var(--accent-color);
}

.footer-address {
  font-size: 14px;
  line-height: cal(24/14);
  color: var(--secondary-text-color);
}

.footer-link {
  font-size: 14px;
  line-height: cal(24/14);
  color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover,
.footer-lin:focus {
  color: var(--accent-color);
}

/* Портфолио */

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: cal(26/16);
  text-align: center;
  color: var(--primary-header-color);
  background-color: var(--alt-bkg-color);
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--secondary-header-color);
  background-color: var(--accent-color);
}
.examples-header {
  font-weight: 700;
  font-size: 18px;
  line-height: cal(36/18);
  letter-spacing: 0.06em;
  color: var(--primary-header-color);
}

.examples-text {
  font-size: 16px;
  line-height: cal(30/16);
  color: var(--primary-text-color);
}

.examples-img {
  width: 370px;
  height: 294px;
}
